/* globals.css */
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    /* Light mode */
    --background: #ffffff;
    --foreground: #000000;
  }

  .dark {
    /* Dark mode */
    --background: #000000;
    --foreground: #ffffff;
  }

  body {
    @apply bg-background text-foreground;
  }
}
